Django==2.2.21
django-filter==2.1.0
djangorestframework==3.9.3
Markdown==3.1
psycopg2==2.8.2
pytz==2019.1
sqlparse==0.3.0
django-reversion==3.0.3
django-extensions==2.1.6
#python-dateutil<2.7.0,>=2.6.1
python-dateutil==2.8.0
django-mptt==0.10.0
git+https://github.com/boecklic/django-ace.git
mappyfile==0.8.2
django-prettyjson==0.4.1
drf-yasg==1.16.1
packaging==19.1
djangorestframework-yaml==1.0.3
drf-extensions==0.5.0
